[package]
name = "bufro"
description = "2D vector graphics with C++ and Rust API"
version = "0.1.0"
license = "GPL"
readme = "README.md"
authors = ["Aspect"]
keywords = ["graphics", "canvas", "vector", "drawing", "gpu", "opengl"]
categories = ["graphics"]
repository = "https://github.com/UE2020/bufro"
edition = "2018"

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
glow = "*"
cgmath = "*"
libc = "*"
glutin = "*"

[dev-dependencies]
env_logger = "0.5"
glutin = "*"

[build-dependencies]
cbindgen = "0.1.29"